@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  background-color: rgb(0, 0, 0);
  color: #333;
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}
/* .no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
} */
/* Apply this CSS to remove scrolling from StickyScroller */
.scroll-hatao {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.scroll-hatao::-webkit-scrollbar {
  display: none;
}
.sticky-scroller {
  overflow: hidden; /* Disable scrolling */
  position: relative; /* Ensure it doesn't affect other layout aspects */
}
#page5{
  padding-top: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.flex-container {
  /* margin-top: 5vh; */
  height: 100%;
  display: flex;
  width: 92%;
  position: relative;
  /* justify-content: center; */
  /* height: 100vh; */
  overflow: hidden;
  gap: 15px;
}

.left-container {
  width: 60%;
  overflow: hidden;
  border-radius: 3%;
}

.right-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  /* position: relative; */
  gap: 15px;
  overflow: hidden;

}

.right-container > * {
  flex: 1;
}
.watch {
  overflow: hidden;
  border-radius: 5%;
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: column; */
  /* position: relative; */
  /* top: 1.4%; */
}
.ipad {
  border-radius: 5%;
  overflow: hidden;
  width: 100%;
  height: 100%;
  /* display: flex;
  flex-direction: column; */
}
.Macvid{
  border-radius: 5%;
}