@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
  background-color: rgb(0, 0, 0);
  color: #333;
  width: 100%;
  height: 100%;
}

body::-webkit-scrollbar {
  display: block;
  width: 8px;
  background: black;
}

body::-webkit-scrollbar-thumb {
  background-color: #fff;
  border-radius: 10px;
}
/* .no-visible-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.no-visible-scrollbar::-webkit-scrollbar {
  display: none;
} */
/* Apply this CSS to remove scrolling from StickyScroller */
.scroll-hatao {
  scrollbar-width: none;
  -ms-overflow-style: none;
  -webkit-overflow-scrolling: touch;
}

.scroll-hatao::-webkit-scrollbar {
  display: none;
}
.sticky-scroller {
  overflow: hidden; /* Disable scrolling */
  position: relative; /* Ensure it doesn't affect other layout aspects */
}

.flex-container {
  display: flex;
  width: 96%;
  height: 100vh; /* Adjust height as needed */
}

.left-container {
  width: 60%;
}

.right-container {
  width: 40%;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 20%;
}

.right-container > * {
  flex: 1;
}
.watch {
  width: 100%;
  height: 40%;
  display: flex;
  flex-direction: column;
}
.ipad {
  width: 100%;
  height: 30%;
  display: flex;
  flex-direction: column;
}
